<h1> Diese ist eine der Pokemonnen </h1>
<ul>
  <li>{{pokemonProps.data.id}}</li>
  <li>{{pokemonProps.data.base_experience}}</li>
  <li>{{pokemonProps.data.height}}</li>
  <li>
    <img src="{{pokemonProps.data.sprites.front_shiny}}" />
  </li>
</ul>


